
<!DOCTYPE html>
<html lang="en" title="Coding design">
  <head>
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Profile-RTU Pasig Faculty Face Recognition Based System</title>
    <link rel="stylesheet" href="../CSS/profilestyle.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400&display=swap"
      rel="stylesheet"
    />
  </head>
  
  <body>
    <!--
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <a href="index.html">
    <button class="button"><i class="fa fa-home"></i> Home</button>
    </a>
    -->
    <div class="container">
      <div class="navbar">
        <div class="logo">
          <img src="../images/rtulogo.png" />
        </div>
        <nav>
          <ul>
            <li><a href="../HTML/aboutus.html">About Us</a></li>
            <li><a href="#">Camera</a></li>
            <li><a href="#">Schedule</a></li>
             <li><a href="../HTML/log.html">Log</a></li>
            <li><a href="#">Admin</a></li>
            <li><a href="../HTML/faculty.html">Faculty</a></li>
            <li><a href="../HTML/profile.html">Profile</a></li>
            <li><a href="../HTML/index.html">Home</a></li>
            <li><p>Face Recognition-Based Attendance System</p></li>
          </ul>
        </nav>
      </div>
      <div class="sidebar">
        <div class="social-links">
          <img src="..//images/facebook.png" />
          <img src="../images/gmail.png" />
          <img src="../images/phone.png" />
        </div>
      </div>

    <main class="table">
      <section class="table__header">
        <h1>Faculty Members</h1>
        <div class="input-group">
          <input type="search" placeholder="Search Data..." />
          <img src="../images/search.png" alt="" />
        </div>
        <div class="export__file">
          <label
            for="export-file"
            class="export__file-btn"
            title="Export File"
          ></label>
          <input type="checkbox" id="export-file" />
          <div class="export__file-options">
            <label>Export As &nbsp; &#10140;</label>
            <label for="export-file" id="toPDF"
              >PDF <img src="../images/pdf.png" alt=""
            /></label>
            <label for="export-file" id="toJSON"
              >JSON <img src="../images/json.png" alt=""
            /></label>
            <label for="export-file" id="toCSV"
              >CSV <img src="../images/csv.png" alt=""
            /></label>
            <label for="export-file" id="toEXCEL"
              >EXCEL <img src="../images/excel.png" alt=""
            /></label>
          </div>
        </div>
      </section>
      <section class="table__body">
        <table>
          <thead>
            <tr>
              <style>
                thead {
                  color: #a8a394;
                }
              </style>
              <th>Id <span class="icon-arrow">&UpArrow;</span></th>
              <th>Employee <span class="icon-arrow">&UpArrow;</span></th>
              
              <th>Department <span class="icon-arrow">&UpArrow;</span></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td><img src="../images/person.png" alt="" />Cj Andres</td>
              
             
               
              </td>
              <td><strong> CEA </strong></td>
            </tr>
            <tr>
              <td>2</td>
              <td><img src="../images/person.png" alt="" /> Justin Jeremi Cruz</td>
              
              <td><strong>CEA</strong></td>
            </tr>
            <tr>
              <td>3</td>
              <td><img src="../images/person.png" alt="" /> Karl Eugene Eguia</td>
              
              <td><strong>CEA</strong></td>
            </tr>
            <tr>
              <td>4</td>
              <td><img src="../images/person.png" alt="" /> Jamaica Villalba</td>
              
              <td><strong>CEA</strong></td>
            </tr>
            <tr>
              <td>5</td>
              <td><img src="../images/person.png" alt="" /> John Marti Dionisio</td>
              
              <td><strong>CEA</strong></td>
            </tr>
            <tr>
              <td>6</td>
              <td><img src="../images/person.png" alt="" /> Astro Ben Bosales</td>
              
              <td><strong>CEA</strong></td>
            </tr>
            <tr>
              <td>7</td>
              <td><img src="../images/person.png" alt="" /> Erick John Pascual</td>
              
              <td><strong>CEA</strong></td>
            </tr>
            <tr>
              <td>8</td>
              <td><img src="../images/person.png" alt="" /> Jeric Durana</td>
              
              <td><strong>CEA</strong></td>
            </tr>
            <tr>
              <td>9</td>
              <td><img src="../images/person.png" alt="" /> Irafrank Villante</td>
              
              <td><strong>CEA</strong></td>
            </tr>

            <tr>
              <td>10</td>
              <td><img src="../images/person.png" alt="" /> Lanz Adrian Aqueza</td>
              
              <td><strong>CEA</strong></td>
            </tr>
          </tbody>
        </table>
      </section>
    </main>
  </body>
</html>
