<!DOCTYPE html>
<html lang="en" title="Coding design">

<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Log-RTU Pasig Faculty Face Recognition Based System</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='profilestyle.css') }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400&display=swap" rel="stylesheet" />
</head>

<body>
    <!--
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <a href="index.html">
    <button class="button"><i class="fa fa-home"></i> Home</button>
    </a>
    -->
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img src="{{ url_for('static', filename='rtulogo.png') }}" />
            </div>
            <nav>
                <ul>
                    <li><a href="{{ url_for('views.login') }}">Logout</a></li>
                    <li><a href="{{ url_for('views.aboutus') }}">About Us</a></li>
                    <li><a href="{{ url_for('views.camera') }}">Camera</a></li>
                    <li><a href="{{ url_for('views.schedule') }}">Schedule</a></li>
                    <li><a href="{{ url_for('views.log') }}">Log</a></li>
                    <li><a href="{{ url_for('views.admin') }}">Admin</a></li>
                    <li><a href="{{ url_for('views.faculty') }}">Faculty</a></li>
                    <li><a href="{{ url_for('views.UpdateProfile') }}">Profile</a></li>
                    <li><a href="{{ url_for('views.index') }}">Home</a></li>
                    <li>
                        <p>Face Recognition-Based Attendance System</p>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="sidebar">
            <div class="social-links">
                <img src="{{ url_for('static', filename='facebook.png') }}" />
                <img src="{{ url_for('static', filename='gmail.png') }}" />
                <img src="{{ url_for('static', filename='phone.png') }}" />
            </div>
        </div>

        <main class="table">
            <section class="table__header">
                <h1>Schedule</h1>
                

            </section>

            

        </main>
</body>
<style>
    
</style>
<script>
    
</script>

</html>